{% extends "components/base.html" %} {% block title %} QuestBoost {% endblock %}
{% block content %}
<style>
    .features{
        margin: 2vh;
        padding: 2vh;
    }
    
    .divider{
            height: 2px;
            border: none;
            background-color: #6e7893;
        }
        .dark .divider{
            height: 2px;
            border: none;
            background-color: #ffff;
        }
        .f-text{
            color: white;
        }
</style>
<link rel="stylesheet" href="{{url_for('static',filename='styles/about.css')}}">
    <div class="flex items-center justify-center min-h-screen">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="text-2xl md:text-3xl lg:text-6xl font-semibold lg:font-bold px-10 static-text">QUESTBOOST</h1>
            <!-- <p class="mx-auto to_type text-2xl md:text-3xl lg:text-5xl px-10 font-semibold lg:font-bold"></p> -->
        </div>
    </div>

    <hr class="min-h-0 m-4 divider">
    <div class="py-6 sm:py-8 lg:py-12">
        <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
            <!-- text - start -->
            <div class="mb-10 md:mb-16">
                <h2 class="feature-product text-2xl md:text-3xl lg:text-5xl font-bold text-center mb-4 md:mb-6">FEATURES</h2>

                <!-- <p class="max-w-screen-md text-white md:text-xl text-lg lg:text-2xl text-center mx-auto">Features of our product</p> -->
            </div>
            <!-- text - end -->

                <!-- feature - start -->
                <div class="flex features border rounded-lg divide-x">
                    <div class="flex items-center text-white p-2 md:p-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 md:w-8 h-6 md:h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                    </div>

                    <div class="p-4 md:p-6">
                        <h3 class="text-lg md:text-xl font-semibold mb-2 ">Linguo Bridge</h3>
                        <p class="f-text text-white">Translates complex phrases or chapters into another language for better understanding.</p>
                    </div>
                </div>
                <!-- feature - end -->
                <!-- feature - start -->
                <div class="flex features border rounded-lg divide-x">
                    <div class="flex items-center text-white p-2 md:p-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 md:w-8 h-6 md:h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                    </div>

                    <div class="p-4 md:p-6">
                        <h3 class="text-lg md:text-xl font-semibold mb-2 ">Para Simplify</h3>
                        <p class="f-text">Generates multiple rephrased versions of input sentences or paragraphs, making them less complex and improving comprehension.</p>
                    </div>
                </div>
                <!-- feature - end -->
                <!-- feature - start -->
                <div class="flex features border rounded-lg divide-x">
                    <div class="flex items-center text-white p-2 md:p-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 md:w-8 h-6 md:h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                    </div>

                    <div class="p-4 md:p-6">
                        <h3 class="text-lg md:text-xl font-semibold mb-2 ">Summary</h3>
                        <p class="f-text">Summarizes complex and extensive topics into simpler terms, providing a concise overview for easier understanding.</p>
                    </div>
                </div>
                <!-- feature - end -->
                <!-- feature - start -->
                <div class="flex features border rounded-lg divide-x">
                    <div class="flex items-center text-white p-2 md:p-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 md:w-8 h-6 md:h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                    </div>

                    <div class="p-4 md:p-6">
                        <h3 class="text-lg md:text-xl font-semibold mb-2 ">Query Master</h3>
                        <p class="f-text">Accepts a question and associated context as input and provides the proper answer, assisting students in finding accurate information.</p>
                    </div>
                </div>
                <!-- feature - end -->
                <!-- feature - start -->
                <div class="flex features border rounded-lg divide-x">
                    <div class="flex items-center text-white p-2 md:p-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 md:w-8 h-6 md:h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                    </div>

                    <div class="p-4 md:p-6">
                        <h3 class="text-lg md:text-xl font-semibold mb-2 ">Exam Insider</h3>
                        <p class="f-text">Identifies important questions from previous years' papers, including their frequency of occurrence, enabling students to focus on essential topics for exam preparation.
                            Planned feature: Option for students to upload sample papers and receive important questions specific to their papers.</p>
                    </div>
                </div>
                <!-- feature - end -->
            </div>
        </div>
    </div>
    <?php require('components/footer.php') ?>
    <script src="{{url_for('static',filename='js/typed.js')}}"></script>
    <script>
        var typed = new Typed('.to_type', {
            strings: [
                "HELPING STUDENTS ALL OVER THE WORLD",
            ],
            typeSpeed: 100
        });
    </script>
    
{% endblock %}