<!-- <body class="bg-gradient-to-r from-green-500 via-sky-500 to-purple-500"> -->
    {% extends "components/base.html" %} {% block title %} QuestBoost {% endblock %}
    {% block content %}
    <style> 
        .heading {
            color: #000;
        }
    
        .search_bar {
            background: #dce4fd;
            border-color: #c2185b;
            border-width: 2px;
        }
    
        .search_btn:focus-visible {
            outline: 2px solid black;
        }
    
        .dark .heading {
            color: #c2185b;
        }
        .heading{
            color: #4070F4;
        }
    
        .search_bar{
            border-color: #4070F4;
            border-width: 2px;
        }
        .dark .search_bar {
            background: #27292a;
            border-color: #c2185b;
            border-width: 2px;
            color: white;
        }
    
        .dark .search_btn {
            background: #c2185b;
        }
    
        .dark .search_btn:focus-visible {
            outline: 2px solid black;
        }
    
        .search_bar:focus {
            outline: none;
        }
    
        .result {
            background: #dce4fd;
            color: #525353;
            border-color: #95a2c7;
            border-width: 2px;
        }
        
        .dark .result {
            background: #27292a;
            color: white;
            border-color: white;
            border-width: 2px;
        }
    
        .result_heading {
            color: #34383a;
        }
    
        .dark .result_heading {
            color: #e1e1e1;
        }
    
        .dark .res-text {
            background: #2c2f2f;
        }
        .language_icon{
            color: #4070F4;
        }
        .dark .language_icon{
            color:#c2185b;            
        }
        .search_bar::placeholder{
            font-size: large;
        }
        #query {
            min-height: 100px; /* adjust to suit your needs */
            font-size: 16px;
        }
        #query::placeholder{
            color: #4769ba;
            text-align: center;
            font-size: 20px;
        }
        .dark #query::placeholder{
            color : #91989c;
        }
        .divider{
            height: 2px;
            border: none;
            background-color: #6e7893;
        }
        .dark .divider{
            height: 2px;
            border: none;
            background-color: #ffff;
        }
        .content_header{
            color: #343947;
        }
        .dark .content_header{
            color: #fff;
        }
        .subject_selector{
            background-color: white;
            color: black;
            border-width: 2px;
            border-color: #414eff; 
        }
        .dark .subject_selector{
            background-color: 242526;
            color: white;
            border-width: 2px;
            border-color: #c2185b; 

        }
        .subject_selector:focus { outline: none; }
        .search_btn:focus { outline: none; }
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <div class="flex items-center justify-center min-h-screen">
        <div class="flex flex-col text-center w-full m-4 sm:m-8 md:m-12 lg:m-20">
            <h1 class="text-2xl md:text-3xl lg:text-5xl font-semibold lg:font-bold px-10 heading my-5 text-blue-700 search_title">
                Exam Insider
            </h1>

            <form class="flex items-center" method="GET" action="/ExamInsider">
                <div class="relative w-full m-4">
                    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none language_icon">
                        <span class="material-symbols-outlined">
                            book
                            </span>
                    </div>
                    <!-- <label for="countries" class="block mb-2 text-lg md:text-xl lg:text-3xl font-medium text-gray-900 dark:text-white">Select your subject : </label> -->
                        <select id="subject" name="subject" type="text" class="px-10 text-gray-900 text-md md:text-lg lg:text-xl  rounded-lg block w-full p-2.5 subject_selector" required>
                            <option selected value="">Select your subject</option>
                            <option value="eng" {% if subject == 'eng' %} selected {% endif %}>English</option>
                            <option value="skt" {% if subject == 'skt' %} selected {% endif %}>Sanskrit</option>
                            <option value="maths" {% if subject == 'maths' %} selected {% endif %}>Maths</option>
                            <option value="hi" {% if subject == 'hi' %} selected {% endif %}>Hindi</option>
                            <option value="sc" {% if subject == 'sc' %} selected {% endif %}>Science</option>
                            <option value="ssc" {% if subject == 'ssc' %} selected {% endif %}>Social Science</option>
                            <option value="ai" {% if subject == 'ai' %} selected {% endif %}>AI</option>
                    </select>
                    </div>
                    <button type="submit" class="p-2.5 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg focus:ring-4 focus:outline-none focus:ring-white search_btn">
                        <span class="material-symbols-outlined">
                            saved_search
                        </span>
                        <span class="sr-only">Question Paper Analyzer</span>
                    </button>
                </form>
            {% if subject %}
                <hr class="w-full min-h-0 m-4 divider">
                    <span class="text-4xl content_header m-2 p-2">
                        Most Important Questions
                    </span>
                {% if data %}
                    {% for key,value in data.items() %}
                        <div class="result rounded-2xl border-2 m-4 p-4">
                            <span class="result_heading uppercase text-xl md:text-2xl lg:text-3xl">
                                < Marks: {{value[0]}} , Frequency {{value[1]}} >
                            </span>
                            <div class="result res-text rounded-2xl border-2 m-4 p-4 bg-white">
                                Q: {{key}}
                            </div>
                        </div>
                    {% endfor %} 
                {% else %}
                    <div class="result rounded-2xl border-2 m-4 p-4">
                        <span class="result_heading uppercase text-xl md:text-2xl lg:text-3xl">
                            < NO DATA >
                        </span>
                    </div>
                {% endif %}
                {% if subject and not data %}
                    NO DATA
                {% endif %} 
            {% endif %}
        </div>
    </div>
    <script>
    const textarea = document.querySelector('#query');
    
    textarea.addEventListener('input', () => {
      textarea.rows = textarea.value.split('\n').length;
    });
    </script>

    {% endblock %}